/* .Doc-Card {
    width: 80%;
    height: 700px;
    background-color: rgba(133, 133, 133, 0.288);
    float: left;
    margin: 25px;
    border: 2px solid black;
    border-radius: 20px;
}


.profile-Card{
    width: 25%;
    height: 80%;
    background-color: rgba(133, 133, 133, 0.288);
    border: 5px solid black;
    margin: 55px;
    float: left;
}

.profile {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 25px;
    border-radius: 75px;
    background-image: url(../images/pfp.png);
    background-size: cover;
}

.details{
    margin-top: 35px;
    width: 100%;
    height: 250px;
}


h3 {
    margin-left: 5px;
    margin-top: 25px;
    font-size: 25px;
}


.block {
    float: left;
    width: 60%;
    height: 80%;
    background-color: rgba(133, 133, 133, 0.575);
    margin-top: 55px;
    border: 5px solid black;
}

.block-1 {
    width: 50%;
    height: 100%;
    
    float: left;
}

.block-2 {
    width: 50%;
    height: 100%;
    float: left;
}



.doc-patients{
    width: 85%;
    height: 85%;
    background-color: white;
    margin: 35px;
    border: 3px solid black;

}

.doc-appointments{
    width: 85%;
    height: 85%;
    background-color: white;
    margin: 35px;
    border: 3px solid black;

}

.doc-patients h2 {
    margin-top: 5px;
    font-size: 35px;
    text-decoration: underline;
}

.doc-appointments h2 {
    margin-top: 5px;
    font-size: 35px;
    text-decoration: underline;

}

.individual-patient{
    margin: auto;
    margin-top: 15px;
    width: 95%;
    height: 65px;
    background-color: rgba(197, 197, 197, 0.658);
    border: 1px solid black;
}

.appointments{
    margin: auto;
    margin-top: 15px;
    width: 95%;
    height: 65px;
    background-color: rgba(197, 197, 197, 0.658);
    border: 1px solid black;
}

h6 {
    font-size: 15px;
    margin-left: 20px;
} */


.heroImage{
    float: left;
    width: 55%;
    height: 250px;
    background-color: #ffff;
    margin: 50px;
    border-radius: 25px;
    box-shadow: 1px 7px 13px 2px rgba(0, 0, 0, 0.342);
}

.HeroText{
    width: 60%;
    float: left;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.Image{
    width: 20%;
    height: 100%;
    float: right;
    margin-right: 50px;
    
    background-image: url(../images/illustration.jpg);
    background-size: 100% 100%;
}

.HeroText h1 {
    font-size: 50px;
    margin: 10px;
    font-weight: 400;
}

.HeroText h4 {
    font-size: px;
    margin: 15px;
    font-weight: 500;
}

.carousel {
    width: 60%;
    height: 1000px;
    float: left;
    margin: 20px;
    overflow: auto;
    
}

.Pat{
    font-weight: 400;
    margin-left: 20px;
    font-size: 40px;
    color: #3459EC;
}

.card{
    width: 240px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    position: relative;

}

.card:hover{
    background-color: rgb(240, 240, 240);
    transition: 0.1s ease-in-out;
    cursor: pointer;

}

.Icon {
    width: 30px;
    height: 30px;
    background-size: 100% ;
    position: absolute;
    top: -20px;
    right: -10px;
}

.Icon:hover {
    background-image: url(../images/cross_icon.png);
    
}

.card h2 {
    text-align: center;
    margin: 5px;
    font-size: 25px;
    font-weight: 400;
}

.ProfilePic{
    margin: 4px;
    width: 97%;
    height: 70%;
    background-image: url(../images/cat.jpg);
    background-size: 100%;
    border-radius: 25px 25px 0px 0px; 
    border: 1px solid black;

}

.add {
    width: 240px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

}

.add:hover{
    background-color: rgb(231, 231, 231);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.plus {
    background-image: url(../images/plus.png);
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 50%;
    cursor: pointer;
}

/* box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); */

.new {
    float: right;
    margin-right: 30px;
    width: 20%;
    height: 800px;
    margin-top: 40px;
    border-radius: 25px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding-left: 25px;
    box-shadow: 1px 7px 13px 2px rgba(0, 0, 0, 0.342);

}

.DocImg {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    float: left;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    
}

.emp {
    width: 70%;
    margin-top: 15px;
    position: relative;
}

.DInputs{
    width: 90%;
    margin: auto;
}

.bott{
    width: 50%;
    height: 45px;
    font-size: 20px;
    background-color: #3459EC;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.bott:hover {
    background-color: #173ac5;
}

h3 {
    font-weight: 400;
    margin-left: 5px;
    font-size: 18px;
}

