.main {
    margin-left: 100px;
    width: 40%;
    height: 800px;
    background-color: #ffffff;
    float: left;
    margin-top: 75px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.sel1{
    width: 300px;
    height: 50px;
    margin-left: 50px;
    float: left;
}

.main h1 {
    font-size: 35px;
    margin-top: -50px;
    margin-bottom: 40px;
    color: #3459EC;
    font-weight: 400;
}

.area {
    width: 90%;
    margin-left: 50px;
    
}

.inp{
    width: 60%;
    background-color: #f7f7f7;
    margin-left: 50px;
    float: left;
    margin-top: 10px;
}



.botn {
    width: 150px;
    height: 50px;
    background-color: #3459EC;
    float: left;
    margin-top: 60px;
    margin-left: -150px;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    position: relative;
}

.botn:hover {
    background-color: #173ac5;
    
}

.NewPatient {
    margin-left: 50px;
    width: 80%;
    height: 300px;
    float: left;
    margin-top: 100px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.PatientPfp{
    width: 150px;
    height: 150px;
    margin: 25px;
    float: left;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

}

.Pname {
    font-size: 30px;
    text-align: left;
    font-weight: 400;
}

.Detail1 {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
   
}

.Detail2 {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}

.Detail3 {
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}