h1{
    font-family: sans-serif;
    font-weight: 300;
  }
  
.Main {
 margin-left: 250px;
 margin-top: 200px;
  width: 1000px;
  float: left;
}

  .loginCon{
    width: 45%;
    height: 300px;
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
    padding-top: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  
  input{
    width: 85%;
    margin: 0 auto;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    padding-left: 5%;
  }
  
  .butt {
    width: 90%;
    height: 45px;
    background-color: #2b2b2b;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

  }

  .LoginTex {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .RegText{
    font-weight: 400;
    font-size: 20px;
    margin-top: -10px;
    text-decoration: underline;
    color: black;
  }

  .RegText:hover {
    color: blue;
      cursor: pointer;
  }