.nav {    
    width: 5%;
    height: 100vh;
    background-color: #6AC1FF;
    float: left;
    border-radius: 0px 50px 50px 0px;
    
}

.LOGO {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 100px;
    width: 80%;
    aspect-ratio: 1/1;
    background-color: red;
    background-size: 100% 100%;
    border-radius: 25px;
}

.nav1 {
    background-image: url(../images/doctor.png);
}

.nav2 {
    background-image: url(../images/patient.png);
}

.nav_button {
    margin: auto;
    margin-top: 25px;
    width: 70px;
    aspect-ratio: 1/1;
    background-size: 100% 100%;
}

