.appoint {
    margin-top: 50px;
    border-radius: 25px;
    width: 60%;
    height: 450px;
    background-color: rgba(133, 133, 133, 0.288);
    border: 2px solid black;
    float: left;
}

h1 {
    text-align: center;
    text-decoration: underline;
}